body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(226, 177, 177);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grille-container {
  display: grid;
  grid-template-columns: repeat(25, 34px);
  grid-template-rows: repeat(15, 34px);
  width: fit-content;
  margin: 20px auto;
}

.grille-cel {
  width: 34px;
  height: 34px; 
  background-color: rgb(248, 232, 226);
}

.boutons-et-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: fit-content;
  transform-origin: top;
  transform: scale(1.2);
  font-weight: bold;
}

.boutons-circulaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


.boutons-haut-bas,
.boutons-gauche-droite {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 80px; 
  width: 80px; 
  height: 25px; 
}


.boutons-et-score button {
  width: 90px;
  font-weight: bold;
}

.joueur {
  background-image: url("../img/Joueur.png");
  background-size: cover;
}

.monstre {
  background-image: url("../img/monstre.png");
  background-size: cover;
}

.tresor {
  background-image: url("../img/tresor.png");
  background-size: cover;
}

.mur {
  background-image: url("../img/mur.jpeg");
  background-size: cover;
}

p {
  margin: 5px;
}

img {
  width: 19px;
  height: 19px;
}